<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="container">
      <span>My App</span>
      <span class="example-spacer"></span>
      <button
        (click)="handleClickCart()"
        [matBadge]="(myCart$ | async)?.length"
        matBadgeColor="accent"
        mat-icon-button
        class="example-icon"
        matBadgeSize="small"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>shopping_cart</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
