<mat-drawer-container autosize>
  <mat-drawer class="content-cart" mode="over" position="end">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>My List</span>
        <span class="example-spacer"></span>
        <button mat-icon-button (click)="onToggleCart()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="list">
      <div class="item-product">
        <img src="https://placeimg.com/640/480/any?r=0.6623117573936808" alt="">
        <p>Demo</p>
      </div>
      <div class="item-product">
        <img src="https://placeimg.com/640/480/any?r=0.6623117573936808" alt="">
        <p>Demo</p>
      </div>
    </div>
  </mat-drawer>
  <div>
    <app-header (toggleCart)="onToggleCart()"></app-header>
    <app-products></app-products>
  </div>
</mat-drawer-container>
