<mat-drawer-container autosize>
  <mat-drawer class="content-cart" mode="side" position="end">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>My List</span>
        <span class="example-spacer"></span>
        <button mat-icon-button (click)="onToggleCart()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="list">
      <div class="item-product" *ngFor="let product of (myCart$  | async)">
        <img [src]="product.images[0]" alt="">
        <p>{{ product.title }}</p>
      </div>
    </div>
  </mat-drawer>
  <div>
    <app-header (toggleCart)="onToggleCart()"></app-header>
    <app-products></app-products>
  </div>
</mat-drawer-container>
