.container {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  grid-auto-rows: minmax(100px, auto);
  margin-top: 2rem;
}
