<div class="container">
  <mat-card *ngFor="let product of products">
    <mat-card-header>
      <mat-card-title>{{product.title}}</mat-card-title>
      <mat-card-subtitle>${{ product.price }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="product.images[0]" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        {{ product.description }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="addProductToCart(product)" mat-button>Add to cart</button>
    </mat-card-actions>
  </mat-card>

</div>
